/*Texto filtro*/
.txt_filtro{
    margin-right: 1rem;
}

/*Margen de los filtros*/
.margen_filtro{
    margin-bottom: 1rem;
    margin-left: 1rem;
}

/* .chart-container {
    position: relative;
    margin: auto;
    height: 80vh;
    width: 80vw;
  } */

.reportes_btn{
    display: inline-block;
    font-weight: 400;
    color: #feef00;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .35rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    background-color: #004e91;
}

/*Botón para regresar a reportes*/
.reportes_btn:hover{
    color: #feef00;
}